{% extends 'base.html' %}

{% block content %}


<head>
    <style>
        .center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<div class="center">

    <form class="text-center border border-light p-5" action="success" method="POST">
        {% csrf_token %}

        <p class="h3 mb-3"><i class="fas fa-coffee"></i> DONATE NOW!</p>
        <p class="mb-3">We Run Only On Donations (Payment Type:net Banking)</p>

        <input type="name" name="name" id="name" required class="form-control mb-4" placeholder="Name">

        <!-- RAZORPAY INTEGRATION HERE -->
<script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JItPVA3fc7kRxZ" async> </script>
    </form>

</div>


</div>
{% endblock %}
